.image-container{
  position: relative;
  width: 48px;
  height: 48px;
}

.image{
  display: block;
  width: 100%;
  height: auto;
}

.plus-button{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #f1c4088f;
}

.image-container:hover .plus-button{
  opacity: 1;
}
