<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/'"></ion-back-button>
        </ion-buttons>
        <ion-title>Play<span [ngStyle]="colorStyle">2</span>Gether.io</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="!group" class="ion-align-items-center" style="top:0;left: 0;width: 100%;height: 100%;background-color: #8884">
        <ion-spinner style="top:50%;left:50%"></ion-spinner>
    </div>

    <ion-grid *ngIf="group">

        <!-- Profiles in List -->
        <ion-row @profileList>
            <ion-col @profileItems *ngFor="let profile of group.profiles" size="auto" style="margin-top: 20px">
                <div class="image-container" (click)="removeFriend(profile.id)" [tooltip]="profile.nickname" navTooltip>
                    <img [src]="profile.profileImageUrl" class="image">
                    <ion-icon name="remove-outline" class="plus-button"></ion-icon>
                </div>
            </ion-col>
        </ion-row>

        <!-- Social Row -->
        <ion-row>
            <ion-col size="12" sizeXl="6">
                <ion-item>
                    <ion-label>Add another Friend</ion-label>
                    <ion-input [(ngModel)]="friendInput" placeholder="Steam Nickname / Profile URL / ID"
                               (submit)="addFriend()" (keyup.enter)="addFriend()"></ion-input>
                    <ion-button (click)="addFriend()">
                        <ion-icon *ngIf="!friendAwaiting" name="add-circle-outline"></ion-icon>
                        <ion-spinner *ngIf="friendAwaiting"></ion-spinner>
                    </ion-button>
                </ion-item>
            </ion-col>
            <ion-col size="12" sizeXl="6">
                <ion-item>
                    <ion-label>Share the Link</ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="url" (click)="copyLink()"></ion-input>
                    <ion-button (click)="copyLink()">
                        <ion-icon name="clipboard-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Friend Suggestions -->
        <ion-row>
            <ion-col *ngFor="let profile of friendSuggestions" size="auto">
                <div class="image-container" (click)="addFriendById(profile.id)" [tooltip]="profile.nickname"
                     navTooltip>
                    <img [src]="profile.profileImageUrl" class="image">
                    <ion-icon name="add-outline" class="plus-button"></ion-icon>
                </div>
            </ion-col>
            <ion-col *ngIf="suggestionsAwaiting">
                <ion-spinner></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item-divider></ion-item-divider>

    <!-- Warning Status -->
    <ion-card *ngIf="gameList.length>0 && (gameList[0].players != group.profiles.length)" color="warning">
        <ion-card-content>
            <ion-icon name="warning-outline" style="font-size: 20px"></ion-icon>
            There is no game that everyone owns. At least {{group.profiles.length - gameList[0].players}} person can't
            play with you or has to buy the game.
        </ion-card-content>
    </ion-card>

    <!-- Game List -->
    <app-game-item *ngFor="let item of gameList | slice:0:showNumber" [data]="group" [item]="item"></app-game-item>
    <ion-button *ngIf="showNumber<gameList.length" (click)="showNumber=showNumber+25" expand="full">
        <ion-icon name="chevron-down-outline"></ion-icon>
        Show More
    </ion-button>

</ion-content>

<app-footer></app-footer>
