<ion-grid>
    <ion-row>
        <ion-col size="1">
            <ion-skeleton-text animated style="height:122px"></ion-skeleton-text>
        </ion-col>
        <ion-col size="2">
            <ion-skeleton-text animated style="height:122px"></ion-skeleton-text>
        </ion-col>
        <ion-col size="7">
            <h2>
                <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
            </h2>
            <ion-skeleton-text *ngFor="let i of EMPTY_ARRAY_5" style="width: 32px;height: 32px"></ion-skeleton-text>
        </ion-col>
        <ion-col size="2">

        </ion-col>
    </ion-row>
</ion-grid>
