<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Play2Gether.io
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="grad01">
        <div style="height: 200px;">

        </div>

        <div *ngIf="!groupAwaiting" style="width:100%;background-color: #00000088" class="ion-text-center ion-padding">
            <!--<strong>Ready to create an app?</strong>
            <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
            <p>Enter your steam username to get started</p>
            <ion-input placeholder="Steam Nickname / Profile URL / ID" [(ngModel)]="steamId" minlength="3"
                       (keydown.enter)="createGroup()"></ion-input>
            <ion-button (click)="createGroup()">Check Games</ion-button>
        </div>
    </div>

    <div class="container" *ngIf="groupAwaiting">
        <ion-spinner></ion-spinner>
    </div>

    <h4>FAQ</h4>
    <h6>Q: What ID do I need to input?</h6>
    <h6>Q: The games of a user won't show up</h6>
    <p>Please make sure that your steam profile is <a
            href="https://plair.zendesk.com/hc/en-us/articles/360019111173-Set-Steam-Account-Public" target="_blank">public</a>
    </p>

</ion-content>

<app-footer></app-footer>
