<ion-header [translucent]="true">
    <ion-toolbar style="--opacity: 0;backdrop-filter: blur(8px)">
        <ion-title>
            Play2Gether.io
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-margin ion-no-padding">

    <div class="grad01" style="padding-top: 50px">
        <div style="height: 200px;width:100%">
            <ion-spinner *ngIf="groupAwaiting" style="left:50%;top:90px"></ion-spinner>
            <ion-icon @item *ngIf="!groupAwaiting" style="font-size: 144px;width:100%; margin-top: 30px"
                      name="game-controller-outline"></ion-icon>

        </div>

        <div style="width:100%;background-color: #00000088" class="ion-text-center ion-padding">
            <!--<strong>Ready to create an app?</strong>
            <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
            <p style="color:#888">Enter your steam username to get started</p>
            <ion-input placeholder="Steam Nickname / Profile URL / ID" [(ngModel)]="steamId" minlength="3"
                       (keydown.enter)="createGroup()" style="color:#888" [disabled]="groupAwaiting"></ion-input>
            <ion-button (click)="createGroup()" [disabled]="groupAwaiting">Check Games</ion-button>
        </div>
        <div style="height:100px"></div>
    </div>


    <div style="margin:50px">
        <h3>FAQ</h3>
        <h5>Q: What ID do I need to input?</h5>
        <p>We accept the following input names</p>
        <ul>
            <li>Steam username: <span style="opacity: .5">karlthebee</span></li>
            <li>Profile URL: <span style="opacity: .5">https://steamcommunity.com/id/KarlTheBee</span></li>
            <li>Steam ID: <span style="opacity: .5;margin-right: 10px;">76561198065241640</span> <a
                    href="https://support.ubisoft.com/en-GB/Article/000060565" target="_blank">How to get your steam
                id</a></li>
        </ul>

        <br><br>
        <h5>Q: My user profile is private</h5>
        <p>Please make sure that your <a
                href="https://plair.zendesk.com/hc/en-us/articles/360019111173-Set-Steam-Account-Public"
                target="_blank">steam profile is public</a>
        </p>
        <br><br>
        <h5>Q: I bought a game</h5>
        <p>Due to caching we need up to fifteen minutes to update your game library</p>
        <br><br>

        <h5>Q: How many friends can I add?</h5>
        <p>You can add up to fifteen friends to the group</p>
    </div>

</ion-content>

<app-footer></app-footer>
